<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}" />
<meta name="author" content="Michał Korczak" />

<meta property="og:site_name" content="{{ meta.title }}" />
<meta property="og:title" content="{{ meta.title }}" />
<meta property="og:locale" content="{{ meta.locale }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ meta.url }}" />
<meta property="og:description" content="{{ meta.description }}" />
<!-- <meta property="og:image" content="{{ meta.image }}" /> -->

<link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png" />
<link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico" />
<link rel="manifest" href="./assets/site.webmanifest">

{{! local resources need to be linked with relative from index.html with Bun }}
<link href="./assets/main.css" rel="stylesheet" type="text/css" />

<!-- <link rel="preconnect" href="https://scripts.simpleanalyticscdn.com" /> -->

<title>{{ meta.title }}</title>
