<section>
  <div class="event-hero">
    <header class="top-bar">
      <div class="top-bar-inner">
        <div class="event-logo">
          <img src="./assets/images/branding/logo-white.png" alt="20 Sesja Linuksowa">
        </div>
      </div>
    </header>

    <main class="event-hero-main">
      <div class="event-hero-content">
        <time class="event-date" datetime="2026-04-25">Wrocław,<br>25-26 kwietnia 2026</time>
        <a class="event-tickets-cta" href="https://app.evenea.pl/event/20-sesja-linuksowa/?source=landing"
          target="_blank" rel="noopener">
          Kup bilet na Evenea
        </a>
      </div>
    </main>

    <div class="bottom-bar"></div>
  </div>

  <div class="event-hero-bg"></div>
</section>
