header {
  background: linear-gradient(135deg, #051214 0%, #2e3f41 100%);
  padding: 4rem 0;
  text-align: center;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #EB0C85;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
  }
}

