.event-hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: auto;
  display: grid;
  align-content: space-between;
}

.top-bar, .bottom-bar {
  background: #000000;
  height: 14em;
}

.top-bar-inner {
  height: 100%;
  margin: 0;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.event-logo img {
  height: 7em;
}

.event-hero-main {
  position: relative;
  min-height: 350px;
  display: flex;
  align-items: center;
}

.event-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/branding/pingwin.png');
  background-size: cover;
  background-position: left center;
  translate: -28%;
}

.event-hero-content {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

.event-date {
  font-size: 32px;
  font-weight: 700;
  text-align: right;
}

.event-tickets-cta {
  display: inline-block;
  padding: 18px 40px;
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
  background: var(--sl-secondary-dark);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  letter-spacing: 1px;
}

.event-tickets-cta:hover,
.event-tickets-cta:focus {
  background: var(--sl-secondary);
  color: #ffffff;
}
