.event-hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: auto;
  display: grid;
  align-content: space-between;
}

.top-bar,
.bottom-bar {
  background: #000000;
  height: 14em;
}

@media (max-width: 768px) {
  .top-bar,
  .bottom-bar {
    height: 9em;
  }
}

@media (max-width: 400px) {
  .top-bar,
  .bottom-bar {
    height: 6em;
  }
}

.top-bar-inner,
.bottom-bar-inner {
  height: 100%;
  margin: 0;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bottom-bar-inner {
  padding: 0 80px;
  gap: 2em;
}

.bottom-bar-inner svg:hover {
  fill: #aaa;
}

@media (max-width: 768px) {
  .top-bar-inner,
  .bottom-bar-inner {
    justify-content: center;
  }

  .bottom-bar-inner {
    padding: 0;
    gap: 1.25em;
  }
}

@media (max-width: 400px) {
  .bottom-bar-inner {
    gap: 1em;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.event-logo img {
  height: 7em;
}

@media (max-width: 768px) {
  .event-logo img {
    height: 5em;
  }
}

@media (max-width: 400px) {
  .event-logo img {
    height: 3.5em;
  }
}

.event-hero-main {
  position: relative;
  min-height: 350px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .event-hero-main {
    min-height: 36em;
    align-items: flex-end;
  }
}

@media (max-width: 400px) {
  .event-hero-main {
    min-height: 34em;
  }
}

.event-hero-content {
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}

@media (max-width: 768px) {
  .event-hero-content {
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .event-hero-content {
    padding: 10px;
    gap: 15px;
  }
}

.event-date {
  font-size: 32px;
  font-weight: 700;
  text-align: right;
}

@media (max-width: 768px) {
  .event-date {
    color: black;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
      -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
}

.event-tickets-cta {
  display: inline-block;
  padding: 18px 40px;
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
  background: var(--sl-secondary-dark);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .event-tickets-cta {
    font-size: 24px;
    padding: 16px 32px;
  }
}

/* @media (max-width: 400px) {
  .event-tickets-cta {
    font-size: 20px;
    padding: 14px 28px;
  }
} */

.event-tickets-cta:hover,
.event-tickets-cta:focus {
  background: var(--sl-secondary);
  color: #ffffff;
}

.event-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/branding/pingwin.png');
  background-size: cover;
  background-position: left center;
  translate: -28%;
}

@media (max-width: 768px) {
  .event-hero-bg {
    background-position: 60% center;
    translate: 0;
  }
}
